[Unit]
Description=Pixelboard Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/app/pixelboard/
ExecStart=/app/pixelboard/bin matrix
User=root
Group=root
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
